[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openneuro-py = "*"
mne = "*"
optuna = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
seaborn = "*"
matplotlib = "*"
mne-features = "*"

[dev-packages]

[requires]
python_version = "3.11"
